body {
    background-color:
}



h1 {
    text-align: center;
    color: black;
    text-shadow: forestgreen 0px 0px 40px;
    padding: 100px;
    
    
    
}

.buttons {
    text-align: center;
    font-size: 80px
    
}

.rock {
    border-style: none;
    }

.rock: hover {
    margin: 300px;
    padding: 20px; 
}

.rock img {
    width: 250px;
    height: 250px;
}

.paper {
    border-style: none;
}
.paper img {
    width: 250px;
    height: 250px;
}

.scissors {
    border-style: none;
}

.scissors img {
    width: 250px;
    height: 250px;
}